* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(19, 36, 11);
  background: linear-gradient(
      180deg,
      rgba(15, 19, 7, 1) 1%,
      rgba(1, 1, 1, 0) 10% 95%,
      rgba(15, 19, 7, 0.9) 100%
    ),
    radial-gradient(circle, rgba(30, 61, 14, 0.9) 20%, rgba(15, 19, 7, 0.9) 75%),
    radial-gradient(
      circle,
      rgba(30, 61, 14, 0.88) 25%,
      rgba(19, 36, 11, 0.88) 55%
    ),
    url("grain.png");

  color: #fff;
  font-family: "Mr Bedfort", cursive;
  font-size: 11vmin;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover,
a:active {
  color: #b9bf4d;
}

#container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}

#title {
  color: #fff;
  font-family: "Mr Bedfort", cursive;
  font-size: 11vmin;
  width: 80vmin;
  height: 45vmin;
  padding: 3vmin 5vmin 5vmin 5vmin;
}

#image-group {
  width: 45vmax;
  height: 45vmax;
  aspect-ratio: 1 / 1;
  position: relative;
}
#image-group img,
#image-group svg {
  width: 45vmax;
  height: 45vmax;
  aspect-ratio: 1 / 1;
  position: absolute;
  bottom: 0;
  right: 0;

  transform: scale(1.2);
}

#image-group svg {
  filter: opacity(15%);
}

#barbara:hover,
#mat:hover,
#cat:hover {
  filter: opacity(0);
  cursor: pointer;
}
