body {
  text-align: center;
  background-color: #D4D4D4;
  font-family: 'Barlow', sans-serif;
}

a{
  font-weight: bold;
  color: #A23715
}

a:hover{
  color: #BD7320;
}

.cat{
  width: 300px;
  height: 300px;
  object-fit: contain;
}

.treat{
    background-color: #BD7320;
    background-image: url("images/treat300.png");
    background-position: center;
    background-repeat: no-repeat;
  }

.hand {
  background-color: #BD7320;
  background-repeat: no-repeat;
  background-image: url("images/hand300.png");
  background-position: center;
}


.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 20%;
  position: relative;
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: bolder;
  padding-bottom: 50px;
  cursor: pointer;
}

#result{
  color: #000000;
  font-family: 'Barlow', sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  margin:  2%;
}

h1 {
  font-family: 'Nautigal', cursive;
  font-size: 3rem;
  margin:  2%;
  color: #A23715;
}

#about-title {
  font-family: 'Nautigal', cursive;
  margin:  1%;
  font-size: 1.5rem;
  font-weight: bolder;
  color: #BD7320;
  cursor: pointer;
}

.about-text {
  color: #000000;
  font-family: 'Barlow', sans-serif;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 50px;
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.game-over {
  background-color: rgb(109, 56, 56);
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.hidden {
  visibility: hidden;
}

button{
  background-color: #D4D4D4;
  width: 30%;
  border: 3px solid #000;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: #000;
}

button:hover{
  width: 30%;
  border: 3px solid #fff;
  color: #fff;
  border-radius: 5px;
  font-weight: bold;
}

dialog{
  background-color: #D4D4D4;
  width: 50%;
  border: 5px solid rgb(255, 255, 255);
  border-radius: 50px;
}

dialog::backdrop {
  backdrop-filter: blur(1px)
}
